<%= form_with(model: saved_reply) do |form| %>
  <% if saved_reply.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(saved_reply.errors.count, "error") %> prohibited this saved_reply from being saved:</h2>

      <ul>
        <% saved_reply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
